/* Global*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-rusty: #c75000;
  --color-light-rusty: #544c3e;
  --color-dark-rusty: #403828;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-nano: 12px;
  --font-pico: 10px;
  --font-femto: 8px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --avatar-szie: 35px;
  --size-border-radius: 4px;
}

/* Body */
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-micro);
  cursor: default;
  border: none;
  background-color: var(--color-light-white);
  width: 1200px;
  height: 800px;
  overflow: auto;
  margin-left: 20px;
  padding: 0px;
}

div.ui.grid {
  margin-top: 3px;
}

.colum1 {
  width: 340px;
  margin-right: 20px;
}

.info_all_btn {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.info_btn {
  background-color: var(--color-dark-rusty);
  border-color: var(--color-dark-rusty);
  color: var(--color-white);
  margin: 0.1em 0.2em;
  user-select: none;
  border-radius: 5px;
  font-size: var(--font-nano);
  width: 50%;
  height: 28px;
  user-select: none;
}

.info_btn:hover {
  cursor: pointer;
  color: var(--color-pink);
}



div.ui.label {
  width: 120px;
  text-align: center;
  user-select: none;
}

thead {
  background-color: var(--color-dark-rusty);
  color: var(--color-light-white);
  text-align: center;
  user-select: none;
}

tbody {
  text-align: center;
}

h1 {
  text-align: center;
  user-select: none;
}

div.ui.input {
  width: 180px;
}

.purpose_purposeCd,
.purpose_sort {
  width: 180px;
  height: 38px;
  text-align: center;
  user-select: none;
}